<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.family_name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to 'チャットを作成する', new_map_path%>
  </div>
</div>

<div class="rooms">
    <% current_user.maps.each do |map| %>
      <div class="room">
        <div class="room-name">
          <%= link_to map.title, map_messages_path(map) %>
        </div>
      </div>
    <% end %>
</div>