<div class='map-room-form'>
  <h1>詳細</h1>
  <div class='map-room-form__field'>
    
    <div class='map-show-left'>
      住所
    </div>
    <div class='map-show-right'>
      <div class='map-title'>
        <%= @map.address %>
      </div>
    </div>



  </div>
</div>